{% extends 'admin.twig' %}
{% block title %}
	<title>Tous les articles</title>
{% endblock %}
{% block styles %}<link href="public\css\admin\admin.css" rel="stylesheet"/>
{% endblock %}
{% block header %}

	<header class="masthead" style="background-image: url('https://cdn.pixabay.com/photo/2015/07/19/18/33/letters-851820_1280.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 align-content-center justify-content-center pt-5">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Articles</h1>
						<span class="subheading">Gérer les écrits légendaires du blog
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>

{% endblock %}
{% block admin_nav %}
	<div id="admin-nav" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark left-0">
		<div class="dropdown d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
				{% if user is defined %}
					{% if user.role is same as 1 %}
						<span class="fs-4">
							<img src="{{user.picture}}" alt="img" width="32" height="32" class="rounded-circle me-2">
							{{user.username}}
						</span>
					{% endif %}
				{% endif %}
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
				<li>
					<a class="dropdown-item" href="#">Paramètres</a>
				</li>
				<li>
					<a class="dropdown-item" href="profile">Profil</a>
				</li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<form
						action="logout-user" method="post">
						{# {{ form_token("/logout-user")}} #}
						<button class="dropdown-item" type="submit">Déconnexion</button>
					</form>
				</li>
			</ul>
		</div>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="admin" class="nav-link text-white">
					Tableau de bord
				</a>
			</li>
			<li>
				<a href="admin_show_posts" class="nav-link  active" aria-current="page">
					Articles
				</a>
			</li>
			<li>
				<a href="admin_create_post" class=" nav-link text-white">
					Ajouter un article
				</a>
			</li>

			<li>
				<a href="admin_pending_comments" class="nav-link text-white">
					Commentaires
				</a>
			</li>
			<li>
				<a href="admin_show_users" class="nav-link text-white">
					Utilisateurs
				</a>
			</li>
		</ul>


	</div>
{% endblock %}
{% block admin_title %}{% endblock %}
{% block admin_content %}
	<div class="mb-5 pb-5" style="width: inherit">
		<h2 class="text-secondary">Articles</h2>
		<div class="flex-wrap">
			<button type="button" class="btn btn-outline-info border-5 rounded ">
				<a href="admin_create_post">
					Ajouter +
				</a>
			</button>
		</div>
		<div class="table-responsive">
			<table class="table ">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Titre</th>
						<th scope="col">Chapô</th>
						<th scope="col">Slug</th>
						<th scope="col">Date de création</th>
						<th scope="col">Date de modification</th>
						<th scope="col">Auteur</th>
						<th scope="col" colspan="5">Edition</th>
					</tr>
				</thead>
				<tbody>
					{% for post in  posts %}
						<tr>
							<th scope="row">{{ post.id }}</th>
							<td>{{ post.title }}</td>
							<td>{{ post.lead_sentence }}</td>
							<td>{{ post.slug }}</td>
							<td>{{ post.created_at|date("d/m/Y à H:i:s") }}</td>
							<td>{{ post.updated_at|date("d/m/Y à H:i:s") }}</td>
							<td>
								{% for user in users %}
									{% if post.created_by == user.id %}
										{{user.username}}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								<a href="post/{{post.id}}" class="btn btn-primary border-5 rounded" role="button">Voir</a>
							</td>
							<td>
								<a href="admin-edit-post/{{post.id}}" class="btn btn-secondary border-5 rounded" role="button">Editer</a>
							</td>
							<td>
								<a href="admin-delete-post/{{post.id}}" class="btn btn-danger border-5 rounded" role="button">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<caption>Liste des articles</caption>
			</table>
		</div>
	</div>
{% endblock %}
