<section class="mb-5 p-5 shadow rounded">
	<div class="row">
		<div class="col">
			<h2 class="fw-bold pb-2">Commentaires</h2>
			{% if comments is defined and not empty %}
				{% set displayedAuthors = [] %}
				{% for comment in comments %}
					{% set currentAuthor = null %}
					{% for author in authorComments %}
						{% if author.username == comment.createdBy and author not in displayedAuthors %}
							{% set currentAuthor = author %}
							{% set _ = displayedAuthors.append(author) %}
						{% endif %}
					{% endfor %}
					{% if currentAuthor is not null %}
						<div class="card mb-4 rounded comments">
							<div class="row g-0 comment">
								<div class="col-md-2 text-center pt-3 bg-light">
									<p class="fw-bold d-flex flex-column align-items-center justify-content-center">
										<img src="{{ currentAuthor.picture }}" alt="photo de profil de {{ currentAuthor.username }}">
										<strong>{{currentAuthor.username }}</strong>
									</p>

								</div>
								<div class="col-md-10">
									<div class="card-body">
										<h4 class="card-title">{{ comment.title }}</h4>
										<small class="text-muted">le
											{{ comment.createdAt|date("d/m/Y à H:i:s") }}</small>
										<div class="card-text">{{ comment.content|raw }}</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="row">
					<div class="col text-center my-5">
						<p class="text-muted">Aucun commentaire pour le moment.</p>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col my-4">
			{% if messageComment is defined and messageComment is not empty %}
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					{{ messageComment }}
				</div>
			{% endif %}

			<form
				method="post" action="post/add-comment">
				{# {{ form_token("post/#{post.id}/add-comment") }} #}
				<legend>Laisser un commentaire sur cet article</legend>
				{% if user.id is null %}
					<small class="text-muted">Vous devez
						<a href="login">être connecté·e</a>
						à votre compte utilisateur pour pouvoir laisser un commentaire.</small>
				{% else %}
					<div class="my-3">
						<input type="hidden" name="postId" value="{{ post.id }}">
						<input type="hidden" name="userId" value="{{ user.id }}">
						<label for="commentTitle" class="form-label">Titre</label>
						<input type="text" class="form-control" id="commentTitle" name="commentTitle" required>
					</div>
					<div class="mb-3">
						<label for="commentContent" class="form-label">Votre commentaire</label>
						<textarea name="commentContent" class="form-control" id="commentContent" rows="4" maxlength="250"></textarea>
					</div>
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
</section>
