{% extends './Layout/base.twig' %}

{% block title %}

	<title>Post :"
		{{ post.title }}"
	</title>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="public\css\post/post.css">
{% endblock %}
{% block header %}
	<header class="masthead" style="background-image: url('{{ post.image }}'); background-repeat: no-repeat; background-position-y: -15rem;">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 align-content-center justify-content-center pt-5">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1 class="display-2">{{ post.title|raw }}</h1>
						<span class="meta">
							Publié par
							<a href="#!">{{ author.username }}</a>
							<span class="meta">
								le
								{{ post.created_at|date("d/m/Y") }}</span>
						</span>

						<q class="subheading">

							{{ post.lead_sentence|raw }}

						</q>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<div id="content" class="container mb-5">
		<main class="pb-5">
			{% if message is defined and message is not empty %}
				<p class="text-light bg-success d-flex justify-content-center py-3">{{ message }}</p>
			{% endif %}
			<article class="my-5 text-center">
				<div class="fw-bold display-6 mb-4">
					{{ post.lead_sentence|raw }}
				</div>
				<div class="">
					{{ post.content|raw }}
				</div>
			</article>
			{{ include('comments.twig') }}
		</main>
	</div>
{% endblock %}
