{% extends './Layout/base.twig' %}

{% block title %}
	<title>Articles</title>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="public\css\posts\posts.css">
	<link rel="stylesheet" href="public\css\header\header.css">
{% endblock %}
{% block header %}
	<header class="masthead color-transition" style="background-image: url('public/assets/img/Accueil.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Articles</h1>
						<span class="subheading">A blog to learn Full-Stack tricks</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
	<div class="container_Ecrire_Article">
		<div>
			<h1>Bienvenu M.
				{{user.name}}</h1>
			<h3>Voici la liste des article récement publié</h3>
		</div>
		{% if user is defined %}
			{% if user.role is same as 1 %}
				<a href='new_post' class="button">
					<div class="button__line"></div>
					<div class="button__line"></div>
					<span class="button__text">Ecrire un article</span>
					<div class="button__drow1"></div>
					<div class="button__drow2"></div>
				</a>
			{% endif %}
		{% endif %}
	</div>
	<div class="row mb-2">
		{% for post in posts %}
			{# {{ dump (posts) }}{{ die }} #}

			<div class="card m-2" style="width: 18rem;">
				<img src={{post.picture}} class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">
						{{post.recipe_id}}
						{{post.title}}
					</h5>
					<small class="post-subtitle">
						Dernière Modification
						{{"September 24, 2023"}}
					</small>
					<p class="card-text">
						{{post.recipe}}
					</p>
				</a>
				<p class="post-meta">
					Posted by
					<a href="#!">
						{{user.alias}}
					</a>

				</p>
				{# :id/post #}
				<a href="post">
					<button type="button" class="btn btn-primary">En savoir plus 😉</button>
				</a>
			</div>
		</div>
	{% endfor %}
	<!-- Pager-->
	<div class="d-flex justify-content-end m-4">
		<a class="btn btn-primary text-uppercase" href="#!">Ancien Posts →</a>
	</div>
</div>{# <p>{{soustraction(1,2)}};</p>
																																									<p>{{("##un Filtre## **ajouté** "|textadd)}}</p>
																																									<pre>
																																																						{{dump("##un Filtre## **ajouté** " | textadd)}}
																																																						</pre> #}{% endblock %}
