{% extends './Layout/base.twig' %}

{% block title %}
	<title>Articles</title>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="public\css\posts\posts.css">
	<link rel="stylesheet" href="public\css\header\header.css">
{% endblock %}
{% block header %}
	<header class="masthead color-transition" style="background-image: url('public/assets/img/Accueil.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Articles</h1>
						<span class="subheading">Un blog pour apprendre les astuces Full-Stack</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
	<div class="container_Ecrire_Article">
		<div>
			{% if user.id is defined %}
				<h1>Bienvenue M.
					{{ user.username }}</h1>
			{% else %}
				<h1>Bonjour Etranger</h1>
			{% endif %}
			<blockquote>Bienvenue dans le royaume du
				<strong>
					<code>code</code>
				</strong>, là où les fonctions prennent vie et les idées se transforment en réalité.</blockquote>

			<h3>Voici, la liste des savoir émanant des plumes érudites :
			</h3>
		</div>
		{% if user.role is same as 1 or "1" %}
			<form action="admin_create_post_Action" method="get" class="button">
				<div class="button__line"></div>
				<div class="button__line"></div>
				<button type="submit" class="button__text border-0 bg-transparent">Écrire un article</button>
				<div class="button__drow1"></div>
				<div class="button__drow2"></div>
			</form>
		{% endif %}
	</div>
	<div class="row mb-2 d-flex justify-content-center">
		{% for post in posts %}
			<div class="card m-2" style="width: 18rem;">
				<img src="{{post.image}}" class="card-img-top" alt="image de l'article">
				<div class="card-body">
					<h5 class="card-title">{{post.title|raw}}
					</h5>
					<small class="post-subtitle">
						Dernière Modification
						{% if post.updated_at is not null %}
							{{ post.updated_at|date("d/m/Y") }}
						{% else %}
							{{ post.created_at|date("d/m/Y") }}
						{% endif %}
					</small>
					<p class="card-text">
						{{post.lead_sentence|raw}}
					</p>
				</a>
				<p class="post-meta">
					Posted by
					<a href="#!">
						{{post.created_by}}
					</a>

				</p>
				<a href="postAccess?id={{ post.id }}&location=post" class="btn btn-primary">En savoir plus 😉</a>

			</div>
		</div>
	{% endfor %}
	<!-- Pager-->
	{# <div class="d-flex justify-content-end m-4">
							<a class="btn btn-primary text-uppercase" href="#!">Ancien Posts →</a>
						</div> #}
</div>{% endblock %}
